<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>更新/删除商品</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showHelp()">
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    placeholder="输入商品名称搜索"
    (ionChange)="searchItem()"
    debounce="500"
  ></ion-searchbar>

  <div *ngIf="isSearching" class="ion-text-center">
    <ion-spinner></ion-spinner>
    <p>搜索中...</p>
  </div>

  <ion-card *ngIf="currentItem">
    <ion-card-header>
      <ion-card-title>商品详情</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="itemForm">
        <ion-item>
          <ion-label position="floating">商品名称</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">类别</ion-label>
          <ion-select formControlName="category" interface="action-sheet">
            <ion-select-option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">数量</ion-label>
          <ion-input formControlName="quantity" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">价格</ion-label>
          <ion-input formControlName="price" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">供应商</ion-label>
          <ion-input formControlName="supplier" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">库存状态</ion-label>
          <ion-select formControlName="stockStatus" interface="action-sheet">
            <ion-select-option *ngFor="let status of stockStatuses" [value]="status">
              {{ status }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">特色商品</ion-label>
          <ion-input formControlName="featured" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">特别备注</ion-label>
          <ion-textarea formControlName="notes" rows="3"></ion-textarea>
        </ion-item>
      </form>

      <ion-button expand="block" color="primary" (click)="updateItem()" [disabled]="!itemForm.valid">
        更新商品
      </ion-button>

      <ion-button expand="block" color="danger" (click)="deleteItem()">
        删除商品
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div *ngIf="!currentItem && !isSearching && searchTerm" class="ion-text-center">
    <p>未找到匹配的商品</p>
  </div>
</ion-content>