<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar
    placeholder="搜索商品"
    [(ngModel)]="searchQuery"
    (ionInput)="onSearchQueryChange()"
    debounce="300"
  ></ion-searchbar>

  <ion-spinner *ngIf="isLoading" class="ion-padding"></ion-spinner>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let item of filteredItems">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>分类: {{ item.category }}</p>
        <p>供应商: {{ item.supplier }}</p>
        <p>数量: {{ item.quantity }}，价格: ¥{{ item.price }}</p>
        <p>库存状态: {{ item.stockStatus }}</p>
        <p *ngIf="item.featured">⭐ 特色商品</p>
        <p *ngIf="item.specialNotes">备注: {{ item.specialNotes }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="showHelp()">
      <ion-icon [icon]="helpCircle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
