h2 {
  text-align: center;
  margin-top: 20px;
  color: #3880ff; // 主色调
  font-weight: 600;
}

ion-item {
  --padding-start: 16px;
  --inner-padding-end: 16px;
  margin-top: 10px;
}

ion-list {
  margin-top: 10px;
}

ion-button {
  margin-top: 12px;
}

ion-spinner {
  display: block;
  margin: 20px auto;
}

p {
  text-align: center;
  color: gray;
}

ion-fab-button {
  --background: #3880ff;
  --color: white;
}
